.container {
  background: gainsboro;
  width: fit-content;
  padding: 0 1em 0 1em;
  position: relative;
  left: 50%;
  margin-left: -12em;
}

.title {
  text-align: left;
  font-style: italic;
  padding: 0.1em 0 0.1em 0.5em;
  border-bottom: 3px solid black;
  margin-bottom: 0;
}

.code-text-wrapper {
  position: relative;
  background: rgb(238, 238, 238);
  color: rgba(0, 0, 0, 0.452);
  padding: 0.5em 1em 0.5em 0;
  overflow: hidden;
}

.code-line {
  margin: 0;
  line-height: 100%;
  padding: 2px;
}

.block {
  display: inline-block;
}

.overlay-line {
  position: relative;
  display: block;
  width: 30em;
  height: 1rem;
  margin: 0 0 0 0;
  padding: 2px;
}

.overlay-line:hover {
  background-color: rgba(0, 0, 255, 0.123);
}

.overlay-wrapper {
  position: absolute;
  z-index: 2;
  display: block;
  width: fit-content;
  margin: -1.3px 0 0 0;
}